NODE_ENV=dev

# Auth
JWT_SECRET=supersecretpass123

# App
WEB_DOMAIN=http://localhost:5173

# Database
DATABASE_URL=postgresql://docker:docker@localhost:5432/gym
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=gym
